.login-container-propaganda {
    background-image: url(../../../assets/img/background/mercado.png);
    height: 720px;
    width: 100%;
}
.login-mascote {
    margin-top: 5%;
    width: 50%;
}
.login-logotipo {
    width: 50%;
    margin-top:20px;
}
.destaque-white {
    margin-top: 30px;
    color: #fff;
}

.btn-entrar{
    background-color: #0F253B;
    border-color: #0F253B;
    color: #fff;
}
.btn-entrar:hover{
    background-color: #050d14;
    border-color: #050d14;
}