.div-login-smarket{
    background-color: #0F253B; 
    height: 200px;
}

.div-login-smarket div{
    text-align: center;
}

.logotipo-login-smarket{
    width: 20%;
    padding-top: 10px;
}

.gif-login-smarket{
    width: 35%;
    padding-top: 3%;
}

h2.login {
    font-family: 'grobold';
    color: #F3A619;
    margin-bottom: 0px;
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px !important;
}

.btn-entrar{
    background-color: #0F253B;
    color: white; 
}

.btn-entrar:hover{
    background-color: rgb(27, 52, 77);
    color: white; 
    cursor: pointer;
}