<div class="fluid-content">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6">
            <form>
                <h2 class="col-sm-12">Dados Pessoais</h2>

                <hr/>   
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="NomeCompleto">Nome Completo</label>
                        <input type="text" class="form-control" id="NomeCompleto" aria-describedby="Nome Completo" placeholder="Digite seu Nome completo">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="CPF">CPF</label>
                        <input type="text" class="form-control" id="CPF" aria-describedby="CPF" placeholder="Digite seu CPF">
                    </div>
                    
                    <div class="col-sm-6 form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" aria-describedby="Email" placeholder="Digite seu Email">
                    </div>     

                    <div class="col-sm-6 form-group">
                        <label for="Celular">Celular</label>
                        <input type="text" class="form-control" id="Celular" aria-describedby="Celular" placeholder="(XX) XXXXX-XXXX">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="Telefone">Telefone</label>
                        <input type="text" class="form-control" id="Telefone" aria-describedby="Telefone" placeholder="(XX) XXXX-XXXX">
                    </div>

                    <div class="col-sm-12 form-group">
                        <input type="button" class="btn alterar" id="SalvarAlteracao" aria-describedby="SalvarAlteracao" value="Salvar Alteracao"/>
                    </div>
                    
                    <hr>
                        
                    <h2 class="col-sm-12">Alterar Senha</h2>
                
                    <div class="col-sm-6 form-group">
                        <label for="SenhaAtual">Senha Atual</label>
                        <input type="password" class="form-control" id="SenhaAtual" placeholder="**************">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="NovaSenha">Nova Senha</label>
                        <input type="password" class="form-control" id="NovaSenha" placeholder="**************">
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="ConfirmNovaSenha">Confirme a Nova Senha</label>
                        <input type="password" class="form-control" id="ConfirmNovaSenha" placeholder="**************">
                    </div>

                    <div class="col-sm-12 form-group">
                        <input type="button" class="btn alterar" id="ConfirmAlterar" aria-describedby="ConfirmAlterar" value="Alterar Senha"/>
                    </div>
               
                </div>
            </form>
        </div>
    </div>
</div>