<div class="container-fluid">

    <div class="row div-destaque">
        <div class="col-sm-12">
            <img class="sucesso-logotipo" src="../../../assets/img/logo/logo-completo-branco.png">
        </div>
    </div>

    <div class="row div-round">
        <div class="col-sm-12">
            <img class="sucesso-gif" src="../../../assets/img/gif/gif-smarket-sucesso.gif">
        </div>
        <div class="col-sm-12">
            <h1 class="destaque-white" style="color: #666666;">
                Cadastro realizado com sucesso!
            </h1>
            <h3 class="destaque-white" style="color: #666666;">
                Verifique sua caixa de email para ativar seu cadastro.
                </h3>

        </div>
    </div>

</div>