.card-indicativo{
    border: 10px solid #0F253B;;
    border-radius: 3px;
    margin: 5px;
    box-shadow: 5px 5px 5px #888888;
    background-color: #fff;
    padding: 10px;
    width: 24%;
}

h2.title-indicativo {
    font-family: 'grobold';
    color: #F3A619;
}

