<div class="row card-pagamento">
    <div class="col-sm-10 offset-sm-1">
        <div class="card border-0 box-shadow card-pagamento-body" widget="">
            <div class="row">
                <div class="col-sm-5 text-center card-pagamento-status warning">
                    <h3 class="p20">Pedido:24514</h3>
                    <img class="login-logotipo p20" src="../../../assets/img/icone/aguardando-pagamento.png"><br/>
                    <button class="btn btn-warning btn-rounded" type="button">Aguardando Confirmação de Pagamento</button>
                </div>
                <div class="col-sm-7 card-pagamento-info">
                    <p class="label-pedido">
                        Estabelecimento:
                    </p>
                    <p class="label-pedido">
                        Data:
                    </p>
                    <p class="label-pedido">
                        Pagamento:
                    </p>
                    <p class="label-pedido">
                        Endereço de Entrega:
                    </p>
                    <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                </div>
                        
            </div>
        </div>
    </div>
</div>

<div class="row card-pagamento">
        <div class="col-sm-10 offset-sm-1">
        <div class="card border-0 box-shadow card-pagamento-body" widget="">
            <div class="row">
                <div class="col-sm-5 text-center card-pagamento-status info">
                        <h3 class="p20">Pedido:24514</h3>
                    <img class="login-logotipo p20" src="../../../assets/img/icone/pedido-aprovado.png"><br/>
                    <button class="btn btn-info btn-rounded" type="button">Pedido Aprovado em Processamento</button>
                </div>
                <div class="col-sm-7 card-pagamento-info">
                    <p class="label-pedido">
                        Estabelecimento:
                    </p>
                    <p class="label-pedido">
                        Data:
                    </p>
                    <p class="label-pedido">
                        Pagamento:
                    </p>
                    <p class="label-pedido">
                        Endereço de Entrega:
                    </p>
                    <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row card-pagamento">
        <div class="col-sm-10 offset-sm-1">
        <div class="card border-0 box-shadow card-pagamento-body" widget="">
            <div class="row">
                <div class="col-sm-5 text-center card-pagamento-status info">
                        <h3 class="p20">Pedido:24514</h3>
                    <img class="login-logotipo p20" src="../../../assets/img/icone/pedido-em-transporte.png"><br/>
                    <button class="btn btn-info btn-rounded" type="button">Pedido em Transporte</button>
                </div>
                <div class="col-sm-7 card-pagamento-info">
                    <p class="label-pedido">
                        Estabelecimento:
                    </p>
                    <p class="label-pedido">
                        Data:
                    </p>
                    <p class="label-pedido">
                        Pagamento:
                    </p>
                    <p class="label-pedido">
                        Endereço de Entrega:
                    </p>
                    <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row card-pagamento">
        <div class="col-sm-10 offset-sm-1">
        <div class="card border-0 box-shadow card-pagamento-body" widget="">
            <div class="row">
                <div class="col-sm-5 text-center card-pagamento-status success">
                        <h3 class="p20">Pedido:24514</h3>
                    <img class="login-logotipo p20" src="../../../assets/img/icone/pedido-entregue.png"><br/>
                    <button class="btn btn-success btn-rounded" type="button">Pedido Entregue</button>
                </div>
                <div class="col-sm-7 card-pagamento-info">
                    <p class="label-pedido">
                        Estabelecimento:
                    </p>
                    <p class="label-pedido">
                        Data:
                    </p>
                    <p class="label-pedido">
                        Pagamento:
                    </p>
                    <p class="label-pedido">
                        Endereço de Entrega:
                    </p>
                    <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row card-pagamento">
        <div class="col-sm-10 offset-sm-1">
        <div class="card border-0 box-shadow card-pagamento-body" widget="">
            <div class="row">
                <div class="col-sm-5 text-center card-pagamento-status danger">
                        <h3 class="p20">Pedido:24514</h3>
                    <img class="login-logotipo p20" src="../../../assets/img/icone/pedido-cancelado.png"><br/>
                    <button class="btn btn-danger btn-rounded" type="button">Pedido Cancelado</button>
                </div>
                <div class="col-sm-7 card-pagamento-info">
                    <p class="label-pedido">
                        Estabelecimento:
                    </p>
                    <p class="label-pedido">
                        Data:
                    </p>
                    <p class="label-pedido">
                        Pagamento:
                    </p>
                    <p class="label-pedido">
                        Endereço de Entrega:
                    </p>
                    <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row card-pagamento">
        <div class="col-sm-10 offset-sm-1">
            <div class="card border-0 box-shadow card-pagamento-body" widget="">
                <div class="row">
                    <div class="col-sm-5 text-center card-pagamento-status info">
                            <h3 class="p20">Pedido:24514</h3>
                        <img class="login-logotipo p20" src="../../../assets/img/icone/aguardando-retirada.png"><br/>
                        <button class="btn btn-info btn-rounded" type="button">Pedido aguardando Retirada</button>
                    </div>
                    <div class="col-sm-7 card-pagamento-info">
                        <p class="label-pedido">
                            Estabelecimento:
                        </p>
                        <p class="label-pedido">
                            Data:
                        </p>
                        <p class="label-pedido">
                            Pagamento:
                        </p>
                        <p class="label-pedido">
                            Endereço de Entrega:
                        </p>
                          <button class="btn detalhes btn-block btn-pedido" type="button">Ver Detalhes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>