<div class="wrap cf">
    <div class="heading cf">
      <h1>Meu Carrinho</h1>
      <a href="#" class="btn continue">Continuar Comprando</a>
    </div>
    <div class="cart">

      <ul class="cartWrap">
        <li class="items odd">
          
      <div class="infoWrap"> 
          <div class="cartSection">
          <img src="http://placehold.it/300x300" alt="" class="itemImg" />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>
            <h3>Validade: DD/MM </h3>
            
            <p> <input type="text"  class="qty" placeholder="0"/> x R$5.00</p>
          
            <p class="stockStatus"> In Stock</p>
          </div>  
      
          
          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
                <div class="cartSection removeWrap">
             <a href="#" class="remove"><i class="fa fa-trash "></i></a>
          </div>
        </div>
        </li>
        <li class="items even">
          
         <div class="infoWrap"> 
          <div class="cartSection">
           
          <img src="http://placehold.it/300x300" alt="" class="itemImg" />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>
            <h3>Validade: DD/MM </h3>
            
             <p> <input type="text"  class="qty" placeholder="3"/> x R$5.00</p>
          
            <p class="stockStatus"> In Stock</p>
          </div>  
      
          
          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
                <div class="cartSection removeWrap">
             <a href="#" class="remove"><i class="fa fa-trash "></i></a>
          </div>
        </div>
        </li>
        
              <li class="items odd">
               <div class="infoWrap"> 
          <div class="cartSection">
              
          <img src="http://placehold.it/300x300" alt="" class="itemImg" />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>
            <h3>Validade: DD/MM </h3>
            
             <p> <input type="text"  class="qty" placeholder="3"/> x R$5.00</p>
          
            <p class="stockStatus out"> Out of Stock</p>
          </div>  
      
          
          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
                      <div class="cartSection removeWrap">
             <a href="#" class="remove"><i class="fa fa-trash "></i></a>
          </div>
                </div>
        </li>
        <li class="items even">
         <div class="infoWrap"> 
          <div class="cartSection info">
               
          <img src="http://placehold.it/300x300" alt="" class="itemImg" />
            <p class="itemNumber">#QUE-007544-002</p>
            <h3>Item Name 1</h3>
            <h3>Validade: DD/MM </h3>
            
            <p> <input type="text"  class="qty" placeholder="3"/> x R$5.00</p>
          
            <p class="stockStatus"> In Stock</p>
            
          </div>  
      
          
          <div class="prodTotal cartSection">
            <p>$15.00</p>
          </div>
      
              <div class="cartSection removeWrap">
             <a href="#" class="remove"><i class="fa fa-trash "></i></a>
          </div>
           </div>
        </li>
        
        
        <!--<li class="items even">Item 2</li>-->
   
      </ul>
    </div>
    
    <div class="subtotal cf">
      <ul>
        <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>
        
            <li class="totalRow"><span class="label">Frete</span><span class="value">$5.00</span></li>
        
              <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
        <li class="totalRow"><a href="#" class="btn continue">Checkout</a></li>
      </ul>
    </div>
  </div>