<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div [class.animate]="mouseOvered" (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true" id="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" alt="" />
                    <div class="image_overlay"></div>
                    <div routerLink="./detalhe-produto-shop" id="view_details">Olhar Detalhes</div>
                    <div routerLink="./detalhe-produto-shop" id="add_cart">Adicionar no Carrinho</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">$39</span>
                            <span class="product_name">Produto X</span>
                            <p>Marca X</p>

                            <div class="product-options">
                                <strong>Data de validade</strong>
                                <span>DD/MM/AAAA</span>
                                <strong>Estabelecimento X</strong>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>