
   <!-- Navigation -->
    <nav class="navbar fixed-top navbar-light my-header" [ngClass]= "{'page-scroll-header': isScrolled}">

        <a class=" navbar-brand" href="javascript:void(0);"><img class="logo-nav" src="../../../assets/img/logo/logo.png" alt=""></a>

    </nav>

     <!-- Header -->
     <header class="header" id="top">
        <div class="Logo">
            <img class="login-logotipo" src="../../../assets/img/logo/logo-completo-branco.png"/>
            <h3 class="slogan">Eai, vai ficar fora dessa?</h3>
        <br>
        <div style="padding:40px;" class="row">
            <div class="consumidor-card card-A">
                <div class="wrapper">
                    <div class="date">
                        <span class="year">PARA O SEU CONSUMO</span>
                    </div>
                    <div class="data">
                    <div class="content">
                        <h1 class="title"><a href="#">Encontre aqui as promoções para sua casa ou seu negócio!</a></h1>
                        <label for="show-menu" class="menu-button"><span></span></label>
                    </div>
                    <input type="checkbox" id="show-menu" />
                    <ul class="menu-content">
                        <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div style="margin-left:100px;" class="vendedor-card card-A">
                <div class="wrapper">
                    <div class="date">
                        <span class="year">PARA O SEU NEGÓCIO</span>
                    </div>
                    <div class="data">
                    <div class="content">
                        <h1 class="title"><a href="#">Anuncie aqui seus produtos!</a></h1>
                        <label for="show-menu" class="menu-button"><span></span></label>
                    </div>
                    <input type="checkbox" id="show-menu" />
                    <ul class="menu-content">
                        <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                        </li>
                        <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                        <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
            
        </div>
    </header>

    <section id="about" class="about">
        <div class="container text-center">
            <h2>Sabe aquele seu produto que não vende? Aqui vende!</h2>
            <p class="lead">Com o Smarket você encontra aquele produto pra consumo rapido com melhor preço e facilidade.</p>
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services primary-blue text-white shadow">
        <div class="container">
            <div class="row text-center">
            <div class="col-sm-10 mx-auto">
                <h2>Nossos Serviços</h2>
                <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img class="service-bot" src="../../../assets/img/app/megaphone.png" alt="">
                    </span>
                    <h4>
                        <strong>Divulgamos seu produto!</strong>
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    <a href="#" class="btn btn-orange">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img class="service-bot" src="../../../assets/img/app/icone-ladpage-05.png" alt="">                            
                    </span>
                    <h4>
                        <strong>Compre com mais facilidade!</strong>
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    <a href="#" class="btn btn-orange">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img style="margin-left:-30px;" class="service-bot" src="../../../assets/img/app/icone-ladpage-04.png" alt="">                            
                    </span>
                    <h4>
                        <strong>No Smarket seu dinheiro vale mais!</strong>
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    <a href="#" class="btn btn-orange">Saiba mais</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                    <span class="fa-stack fa-4x">
                        <img  style="margin-left:-40px;" class="service-bot" src="../../../assets/img/app/icone-ladpage-02.png" alt="">                            
                    </span>
                    <h4>
                        <strong>Com Smarket nosso planeta vive mais!</strong>
                    </h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                    <a href="#" class="btn btn-orange">Saiba mais</a>
                    </div>
                </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
    <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../assets/img/app/celular.png" alt="">
            </div>
            <div class="lines col-md-5">
                <h1>Por que usar o SMARKETapp?</h1>
                <hr>
                <h2>Curae morbi libero ligula, dapibus. </h2>
                <hr>
                <h2>Laoreet quisque vitae dolor, condimentum. </h2>
                <hr>
                <h2>Tempor bibendum donec quis, habitasse. </h2>
                <hr>
                <h2>Vitae nam nulla accumsan, rhoncus. </h2>
                <hr>
                <h2>Ipsum habitasse class facilisis, volutpat. </h2>
                <hr>
            </div>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
            <div class="col-sm-12 mx-auto text-center">
                <h2>Nossa Equipe</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <div class="card-X">
                                <div class="content-X">
                                    <div class="front-X">
                                            <img style="border-radius:5%;" src="../../../assets/img/profile/1.PNG" alt="">                                    
                                        </div>
                                    <div class="back-X">
                                    Back!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <div class="card-X">
                                <div class="content-X">
                                    <div class="front-X">
                                        <img style="border-radius:5%;" src="../../../assets/img/profile/2.PNG" alt="">                                         </div>
                                    <div class="back-X">
                                    Back!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <div class="card-X">
                                <div class="content-X">
                                    <div class="front-X">
                                        <img style="border-radius:5%;" src="../../../assets/img/profile/3.PNG" alt="">     
                                    </div>
                                    <div class="back-X">
                                    Back!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="portfolio-item">
                            <div class="card-X">
                                <div class="content-X">
                                    <div class="front-X">
                                        <img style="border-radius:5%;" src="../../../assets/img/profile/4.PNG" alt="">     
                                    </div>
                                    <div class="back-X">
                                    Back!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
    <!-- /.container -->
    </section>

        <!-- Call to Action -->
    <aside class="call-to-action primary-blue text-white">
        <div class="container text-center">
            <h3>Baixe nosso aplicativo e confira de perto todas as novidades!</h3>
            <a href="#"><img style="width:200px;height:70px;" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/></a>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h4>
                <strong>Smarket app</strong>
                </h4>
                <p>3481 Melrose Place
                <br>Beverly Hills, CA 90210</p>
                <ul class="list-unstyled">
                <li>
                    <i class="fa fa-phone fa-fw"></i>
                    (123) 456-7890</li>
                <li>
                    <i class="fa fa-envelope-o fa-fw"></i>
                    <a href="mailto:name@example.com">name@example.com</a>
                </li>
                </ul>
                <br>
                <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fa fa-facebook fa-fw fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fa fa-twitter fa-fw fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                    <i class="fa fa-dribbble fa-fw fa-3x"></i>
                    </a>
                </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Your Website 2017</p>
            </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
            <i class="fa fa-chevron-up fa-fw fa-1x"></i>
        </a>
    </footer>
          