<div class="container">
    <div class="row">
        <h3 class="section-title text-center">
            Pesquise, escolha e compre.
        </h3>
    </div>
    <div class="row">
            <h2 class="text-center">
                É tudo o que vc precisa pra economizar.
            </h2>
        </div>
    <div class="row">
        <div class="col-4">
                <p class="text-center">
            <img class="icon-escolha" src="../../../../assets/img/icone/escolha-01.png" /><br/>
            <span>
                Escolha seu supermercado favorito
            </span> <br/>
            
                O Smarket reúne todas as ofertas que você procura em poucos cliques.
            </p>
        </div>
        <div class="col-4">
                <p class="text-center">
            <img class="icon-escolha" src="../../../../assets/img/icone/escolha-02.png" /><br/>
            <span>
                Escolha a forma de pagamento que cabe no seu bolso
            </span><br/>
            
                 Com o Smarket quem escolhe a forma de Pagamento é você.
            </p>
        </div>
        <div class="col-4">
                <p class="text-center">
            <img class="icon-escolha" src="../../../../assets/img/icone/escolha-03.png" /><br/>
            <span>
                Escolha a forma de entrega
            </span><br/>
            
                Não fique esperando sua compra chegar, no smarket quem agenda é você.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid smarket-point">
        <div class="row">
            <h3 class="section-title text-center">
                Pesquise, escolha e compre.
            </h3>
        </div>
        <div class="row">
                <h2 class="text-center">
                    É tudo o que vc precisa pra economizar.
                </h2>
            </div>
        <div class="row">
            <div class="col-4">
                    <p class="text-center">
                <img class="icon-escolha" src="../../../../assets/img/icone/escolha-01.png" /><br/>
                <span>
                    Escolha seu supermercado favorito
                </span> <br/>
                
                    O Smarket reúne todas as ofertas que você procura em poucos cliques.
                </p>
            </div>
            <div class="col-4">
                    <p class="text-center">
                <img class="icon-escolha" src="../../../../assets/img/icone/escolha-02.png" /><br/>
                <span>
                    Escolha a forma de pagamento que cabe no seu bolso
                </span><br/>
                
                     Com o Smarket quem escolhe a forma de Pagamento é você.
                </p>
            </div>
            <div class="col-4">
                    <p class="text-center">
                <img class="icon-escolha" src="../../../../assets/img/icone/escolha-03.png" /><br/>
                <span>
                    Escolha a forma de entrega
                </span><br/>
                
                    Não fique esperando sua compra chegar, no smarket quem agenda é você.
                </p>
            </div>
        </div>
    </div>