<div class="card-D">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="preview col-md-6">
                
                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1"><img class="img-responsive" src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></div>
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                    <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></a></li>
                    <li><a data-target="#pic-2" data-toggle="tab"><img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></a></li>
                    <li><a data-target="#pic-3" data-toggle="tab"><img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></a></li>
                    <li><a data-target="#pic-4" data-toggle="tab"><img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></a></li>
                    <li><a data-target="#pic-5" data-toggle="tab"><img src="http://mateusfoodservice.vteximg.com.br/arquivos/ids/173297-350-350/imagem_0_191592.jpg?v=636398721215800000" /></a></li>
                  </ul>
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">Produto X</h3>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star"> 4.7</span>
                    </div>
                    <span class="review-no">41 reviews</span>
                </div>
                <p class="product-description">Descrição do produto</p>
                <h4 class="price">Preço: <span>R$20,00</span></h4>
                <p class="vote"><strong>91%</strong> dos usuarios adoraram este produto! <strong>(87 votos)</strong></p>
                <h5 class="sizes">Estabelecimento:
                    <span class="size" data-toggle="tooltip" title="small">Estabelecimento X</span>
                </h5>
                <div class="action">
                    <button class="add-to-cart btn btn-default" type="button">Adicionar ao Carrinho</button>
                    <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>